[COMMON]
HOST = 192.168.7.34       # 파일 전송할 서버 IP
USER = a2s                # 계정 ID
PORT = 22                 # 포트
# 암호화된 계정 비밀번호
PASS = 1bdkOFR/N+ZEHbvx47UhNg==
PRIVATE_KEY =             # 개인키경로/파일명

SRC_DIR = /a2s_cdr        # 전송할 파일의 디렉토리 경로
UPLOAD_DIR = /            # 전송된 파일이 위치할 디렉토리 경로

TARGET_FILE_SUFFIX = .B01 # 파일을 필터링해서 전송할 경우 전송할 파일의 확장자 타입
